<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid d-flex">
        <div class="container col-md-6 hero">

        </div>
        <div class="container col-md-6 justify-content-center">    
            <!-- sign in form on top -->
            <div class="container col-md-8">
                <form class="sign-in">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <!-- sign up for in the middle  -->
            <div class="container justify-content-center col-md-8">
                <div class="sign-up">
                    <img src="https://png2.kisspng.com/sh/b5032bba95938542ecbb934028b43929/L0KzQYm3VsEyN5Z1epH0aYP2gLBuTftzcaQyitdtLXbyiH70kr1nd6kykdHAdIXldX7rkvF4cZ9sRadrMXW5Rre6g8Q2OZQARqc7Mki1RoSBUcUzQGg2UaIEMUizRIK1kP5o/kisspng-kris-red-fox-mr-fox-youtube-drawing-5b1e66f3c451c9.5228263815287190918041.png" alt="Smiley face" width="200" height="200">
                    <h2>See what’s happening in the world right now</h2>
                    <h4>Join Critter today!</h4>
                    <form action="" class="">
                        <button class="btn btn-primary">Sign up</button>
                        <button class="btn btn-secondary">Sign in</button>
                    </form>
                </div>

            </div>


        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src=""></script>
</body>
</html>







<!-- 
XXX 1. Logo, Colors, Name XXX  
2. Form
XXX Form layout XXX
    Form submits data
XXX 4. Represent a user XXX
XXX 5. Server for the Backend XXX
XXX 6. Database server XXX
7. Securely handle data
8. Code for server to listen to data coming in
9. Code for server to send data to db
10. Code for server to get data from db 

-->