.sign-in button{
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.sign-in {
  margin-top: 10px;
}

.hero {
  background-color: #164249;
  height: 100vw;
}

.sign-up {
  margin-top: 10vh;
}

.btn-primary {
  background-color: #1f829e !important;
  border-color: #1f829e !important;
}

button:focus {outline:0;}

img {
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 15px; */
  margin-right: 15px;
}

.profile-image-large {
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.message-item {
  margin-top: 20px;
}

